@import './base/reset\ ';


img {
    -webkit-user-drag: none;
}

@font-face {
    font-family: Anton;
    src: url("assets/fonts/Anton-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: NotoSans;
    src: url("assets/fonts/NotoSansTC-Medium.otf");
}

body {
    font-family: NotoSans, Roboto, serif;
    background-image: url("assets/images/background.webp");
    background-size: inherit;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Anton, serif;
}

@import './page/loading';
@import './page/header';
@import './page/footer';


#off {
    position: fixed;
    right: 30px;
    top: 35px;
    z-index: 998;

    @media screen and (max-width: 825px) {
        right: 15px;
        top: 20px;
    }

    svg {
        width: 55px;
        height: 55px;

        @media screen and (max-width: 825px) {
            width: 30px;
            height: 30px;
        }

        .cls-1 {
            fill: #a73924;
            transition: 0.6s;
        }

        .cls-2 {
            fill: none;
            stroke: #231815;
            stroke-miterlimit: 10;
            stroke-width: 4px;
        }

        .cls-3 {
            fill: #fff;
        }
    }

    &:hover {
        svg {
            .cls-1 {
                fill: #F6B42C;
            }
        }
    }
}





main {
    position: absolute;
    width: 1200px;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-height: 890px) {
        transform: translate(-50%, -50%) scale(0.8);
    }

    @media screen and (max-height: 768px) {
        transform: translate(-50%, -50%) scale(0.7);
    }

    @media screen and (max-height: 600px) {
        transform: translate(-50%, -50%) scale(0.5);
    }

    @media screen and (max-width: 1024px) {
        transform: translate(-50%, -50%) scale(0.6);
    }

    @media screen and (max-width: 825px) {
        transform: translate(-50%, -50%) scale(0.35);
    }


    img {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

#game_levels {
    width: 100%;
    height: 100%;
    position: absolute;

    main {
        .content {
            width: 100%;
            height: 100%;
            position: absolute;
            .checkpoint {
                position: absolute;
                cursor: pointer;
                transition: 0.6s;

                &:hover {
                    transform: scale(1.05);
                }

                .item {
                    position: absolute;
                    top: -25px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .number,
                .title {
                    text-align: center;
                    display: block;
                    color: #FFEF00;
                    font-family: Anton, serif;
                    font-size: 72px;
                    transform: scaleX(1.2) scaleY(0.8);
                    -webkit-text-stroke: 3px #604C3F;
                }

                .title {
                    font-size: 48px;
                    transform: scaleX(1) scaleY(1.05) translateY(7.5px);
                    ;
                    -webkit-text-stroke: 2px #604C3F;
                }

                .text {
                    text-align: center;
                    display: block;
                    color: #fff;
                    font-family: Anton, serif;
                    font-size: 32px;
                    -webkit-text-stroke: 1.5px #604C3F;
                    transform: scaleX(1.3) translateY(-12.5px);

                }

                svg {
                    width: 100%;

                    .cls-1 {
                        fill: #33695d;
                    }

                    .cls-2 {
                        fill: none;
                        stroke: #604d3f;
                        stroke-width: 8px;
                    }

                    .cls-3 {
                        fill: #68c1a9;
                    }

                    .cls-4 {
                        fill: #40a69d;
                    }

                    .cls-5 {
                        fill: #fff;
                    }

                    .cls-6 {
                        fill: #604d3f;
                    }
                }

                &.gray {
                    -webkit-filter: grayscale(1);
                }

                &.style_1 {
                    .cls-3 {
                        fill: #F1C400;
                    }

                    .cls-4 {
                        fill: #DC5F3F
                    }
                }

                &.style_2 {
                    .cls-3 {
                        fill: #D3B9D9;
                    }

                    .cls-4 {
                        fill: #96629D
                    }
                }

                &.s1 {
                    .star-1 {
                        fill: #FFEF00
                    }
                }

                &.s2 {
                    .star-2 {
                        fill: #FFEF00
                    }
                }

                &.s3 {
                    .star-3 {
                        fill: #FFEF00
                    }
                }
            }
        }
    }

}


#lock {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    // transition: 8s;
    // background-color: rgba(40,40,40,0.8);
    .background {
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);
        transition: 6s;
        width: 100%;
        height: 106%;
        object-fit: cover;
    }

    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        @media screen and (max-height: 768px) {
            transform: translate(-50%, -50%) scale(0.7);
        }

        @media screen and (max-height: 600px) {
            transform: translate(-50%, -50%) scale(0.5);
        }

        @media screen and (max-height: 400px) {
            transform: translate(-50%, -50%) scale(0.4);
        }

        @media screen and (max-height: 375px) {
            transform: translate(-50%, -50%) scale(0.3);
        }

        #lock_main {
            position: relative;
            width: 250px;
            height: 315px;
            margin: auto;

            .ear,
            .left,
            .right,
            .key {
                position: absolute;
                max-width: 100%;
                transition: 0.6s;
            }

            .ear {
                width: calc(100% - 50px);
                top: 0;
                left: 25px;
                z-index: 1;
            }

            .left {
                width: 50%;
                left: 0;
                top: 100px;
                z-index: 2;
            }

            .right {
                width: 50%;
                right: 0;
                top: 100px;
                z-index: 1;
            }

            .key {
                right: -120px;
                top: 130px;
                opacity: 0;
                z-index: 1;
                transition: 0.6s;
                background-image: url("/images/lock/key.png");
                width: 250px;
                height: 126px;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &::after {
                content: "";
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 0;
                width: 80px;
                background-color: #604d3f;
                height: 150px;
            }
        }

        .condition {
            li {
                transform: translateX(-60px);
                width: calc(100% + 100px);
                margin-top: 7.5px;
                margin-bottom: 7.5px;
                line-height: 40px;
                text-align: center;
                font-family: Anton, serif;
                color: #fff;
                font-size: 24px;
                letter-spacing: 1px;
                border: 5px solid #40210f;
                background-color: #9E9E9F;
                transition: 0.6s;
                border-radius: 90px;
                position: relative;

                &::before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    border-radius: 999px;
                    position: absolute;
                    left: 4.5px;
                    top: calc(50% - 1px);
                    transform: translateY(-50%);
                }

                &.pass {
                    background-color: #F29600;
                }
            }
        }
    }

    &.unlock {
        animation-name: pass;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        animation-delay: 4.5s;

        .content {
            #lock_main {
                .key {
                    animation-name: key_unlock;
                    animation-fill-mode: forwards;
                    animation-duration: 3s;
                }

                .ear {
                    animation-name: unlock;
                    animation-fill-mode: forwards;
                    animation-duration: 2s;
                    transform-origin: 35px;
                    animation-delay: 2s;
                }

            }
        }
    }
}

//checkpoint

@keyframes pass {
    0% {
        opacity: 1;
    }

    100% {
        pointer-events: none;
        opacity: 0;
    }
}

@keyframes key_unlock {
    10% {
        right: -75px;
        top: 130px;
        opacity: 1;
        background-image: url(/images/lock/key.png);
    }

    25% {
        right: -25px;
        top: 130px;
        opacity: 1;
    }

    35% {
        background-image: url(/images/lock/key2.png);
    }

    45% {
        right: 10px;
        top: 130px;
        opacity: 1;
    }

    55% {
        background-image: url(/images/lock/key3.png);
    }

    65% {
        right: 10px;
        top: 130px;
        opacity: 1;
    }

    75% {
        background-image: url(/images/lock/key4.png);
    }

    85% {
        right: 10px;
        top: 130px;
        opacity: 1;
    }

    100% {
        background-image: url(/images/lock/key5.png);
    }
}

@keyframes unlock {
    50% {
        top: -45px;
    }

    100% {
        top: -45px;
        transform: rotateY(180deg);
    }
}

#left_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 25px 30px 0;
    border-color: transparent #ae3823 transparent transparent;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    transition: 0.6s;

    &:hover {
        border-color: transparent #F6B42C transparent transparent;
    }

    @media screen and (max-height: 599px) {
        left: 15px;
    }
}

#right_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 30px 25px;
    border-color: transparent transparent transparent #ae3823;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    transition: 0.6s;

    &:hover {
        border-color: transparent transparent transparent #F6B42C;
    }

    @media screen and (max-height: 599px) {
        right: 15px;
    }
}

#level {
    position: relative;
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 825px) {
        transform: scale(0.55);
    }

    .wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .identity {

            width: 600px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;

            .item {
                text-align: center;
                display: block;
                width: calc(50% - 7.5px);
                height: 292.5px;
                line-height: 292.5px;
                color: #fff;
                text-decoration: none;
                font-size: 64px;
                transition: 0.6s;
                cursor: pointer;

                &.student {
                    background-color: #00AEB8;

                    &:hover,
                    &.active {
                        background-color: #A5CED1;
                        color: #0B8E96;
                    }
                }

                &.parent {
                    background-color: #F2A273;

                    &:hover,
                    &.active {
                        background-color: #EFCCB2;
                        color: #BF805C;
                    }
                }

            }

        }

        h2 {
            text-align: center;
            font-size: 54px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        ul {
            width: 100%;
            display: flex;

            li {
                text-align: center;
                width: calc(100% / 7);
                border: 2px solid #3A4864;
                border-right: none;
                height: 45px;
                line-height: 45px;
                color: #fff;
                font-weight: bolder;
                font-size: 24px;
                cursor: pointer;
                transition: 0.6s;

                &:nth-child(1) {
                    border-top-left-radius: 90px;
                    border-bottom-left-radius: 90px;
                    background-color: #0080A6;

                    &.active,
                    &:hover {
                        color: #0080A6;
                        ;
                    }
                }

                &:nth-child(2) {
                    background-color: #00AEB8;

                    &.active,
                    &:hover {
                        color: #00AEB8;
                        ;
                    }
                }

                &:nth-child(3) {
                    background-color: #F5D096;

                    &.active,
                    &:hover {
                        color: #F5D096;
                        ;
                    }
                }

                &:nth-child(4) {
                    background-color: #F2A273;

                    &.active,
                    &:hover {
                        color: #F2A273;
                        ;
                    }
                }

                &:nth-child(5) {
                    background-color: #E15950;

                    &.active,
                    &:hover {
                        color: #E15950;
                        ;
                    }
                }

                &:nth-child(6) {
                    background-color: #BA547C;

                    &.active,
                    &:hover {
                        color: #BA547C;
                        ;
                    }
                }

                &:nth-child(7) {
                    border-right: 2px solid #3A4864;
                    border-top-right-radius: 90px;
                    border-bottom-right-radius: 90px;
                    background-color: #0080A6;

                    &.active,
                    &:hover {
                        color: #0080A6;
                        ;
                    }
                }

                &.active,
                &:hover {
                    background-color: #fff;
                }
            }
        }

        .button {
            width: 100%;
            margin-top: 30px;
            height: 60px;
            line-height: 60px;
            display: block;
            border: none;
            color: #fff;
            font-weight: bolder;
            font-size: 24px;
            cursor: pointer;
            transition: 0.6s;
            text-align: center;
            text-decoration: none;

            &.student {
                background-color: #0080A6;

                &:hover,
                &.active {
                    background-color: #A5CED1;
                    color: #0B8E96;
                }
            }

            &.parent {
                background-color: #F2A273;

                &:hover,
                &.active {
                    background-color: #EFCCB2;
                    color: #BF805C;
                }
            }

        }
    }
}

#login {
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 48px;
            line-height: 1.5;
            font-weight: bolder;
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 32px;
            }

            span {
                display: block;

                @media screen and (max-width: 768px) {
                    display: inline-block;
                }
            }
        }

        .form {
            margin-left: auto;
            margin-right: auto;
            background-color: #00AEB8;
            width: 320px;
            padding: 30px;

            @media screen and (max-width: 768px) {
                width: 280px;
                margin-left: 15px;
                margin-right: 15px;
            }

            input {
                display: block;
                width: 100%;
                height: 48px;
                box-sizing: border-box;
                margin-bottom: 7.5px;
                padding-left: 15px;
                padding-right: 15px;
                font-size: 24px;
                border-radius: 5px;
                border: 3px solid #3A4864;

                @media screen and (max-width: 768px) {
                    border: 2px solid #3A4864;
                    height: 37px;
                    font-size: 18px;
                }

                &::placeholder {
                    color: #00AEB8;
                }
            }

            p {
                padding-top: 7.5px;
                margin-bottom: 15px;
            }

            button {
                width: 100%;
                box-sizing: border-box;
                height: 45px;
                font-size: 24px;
                font-weight: bolder;
                border-radius: 5px;
                background-color: #F5D096;
                border: none;
                color: #fff;
                transition: 0.6s;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    height: 35px;
                    font-size: 18px;
                }

                &:hover {
                    background-color: #F2A273;
                }
            }
        }
    }
}


.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.6s;
}